
body{
    
    background-image: url("../pics/iBackground.jpg");
}




.content{
    
    text-align:center;
    margin:auto;
    border: 5px dotted black;
    width:50%;
    height:200px;
    padding: 10px 10px 10px 10px;
    
}









